@use "colors" as *;
@use "fonts" as *;
@use "../core/transitions" as *;

p, span, li, label {
    color: $grey;
    font-family: $questrial;
}

a {
    color: $black;
    transition: $transition-color;
    text-decoration: none;
}

a, p, span, li, label, h1, h2, h3, h4, h5 {
    font-display: swap;
}

address {
    font-style: normal;
}