@use "../core/grid" as *;
@use "../core/mixins" as *;

#home {
	text-align: center;

	nav {

		h2.cta,
		h3.cta {
			margin: 20px 0 40px;

			a {
				text-decoration: underline;
			}
		}
	}

	.events {
		padding-left: 1.5em;
		padding-right: 1.5em;

		max-width: 960px;

		@include max-width($screen-md-max) {
			max-width: calc(100vw - 2em);
		}

		.list {
			padding: 0;
		}
	}

	.events ul li {
		&:not(:first-of-type) {
			margin-top: 1em;
		}

		a span {
			color: inherit;
			position: relative;
			left: 4px;
			top: -3px;
			font-size: 14px;
		}
	}
}