#home {
	text-align: center;

	nav {

		h2.cta,
		h3.cta {
			margin: 20px 0 40px;

			a {
				text-decoration: underline;
			}
		}
	}

	.events {
		padding: 0 1.5em;
	}

	.events ul li {
		&:not(:first-of-type) {
			margin-top: 1em;
		}

		a span {
			color: inherit;
			position: relative;
			left: 4px;
			top: -3px;
			font-size: 14px;
		}
	}
}